[Unit]
Description=Run Cephilis metrics exporter every minute
Documentation=man:systemd.timer(5)

[Timer]
OnCalendar=*:*:00
OnBootSec=30
Persistent=true
AccuracySec=1s
Unit=cephilis-metrics.service

[Install]
WantedBy=timers.target
